html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #287CD6;
}

/*******************/
/****PLAYER INFO****/
/*******************/
#player-info {
  width: 100%;
  height: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player-info .player {
  width: 20%;
  height: 100%;
  background-color: #7F86E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#player-info .player .name {
  width: 85%;
  height: 50%;
  background-color: #142738;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player-info .player .name h2 {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

#player-info .player .record {
  width: 100%;
  height: 25%;
  background-color: burlywood;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#player-info .player .record div {
  width: 100%;
  height: 50%;
  background-color: skyblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#player-info .player .record div span {
  display: block;
  width: 33%;
  height: 100%;
  background-color: #142487;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player-info .player1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#player-info .player1 > div, #player-info .player1 span {
  border-radius: 0 5px 5px 0;
}

#player-info .player2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#player-info .player2 div, #player-info .player2 span {
  border-radius: 5px 0 0 5px;
}

#player-info .banner {
  width: 45%;
  height: 100%;
}

/**********************/
/****GAME INTERFACE****/
/**********************/
#connect-game {
  width: 100%;
  height: 77%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

#connect-game .left, #connect-game .right {
  width: 20%;
  height: 100%;
}

#connect-game .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#connect-game .left div {
  width: 100%;
  height: 100%;
  background-color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#connect-game .left div button {
  font-size: 3rem;
  margin-bottom: .83em;
}

#connect-game .left div h2 {
  font-size: 3rem;
  margin-top: 0;
}

#connect-game .right > div {
  width: 100%;
  height: 100%;
  background-color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#connect-game .right > div .rematch {
  width: 100%;
  height: 50%;
}

#connect-game .right > div .rematch.block {
  display: none;
}

#connect-game .right > div .rematch h2 {
  font-size: 3rem;
  text-align: center;
}

#connect-game .right > div .rematch div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#connect-game .right > div .rematch div button {
  font-size: 3rem;
}

#connect-game .right > div .startGame {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#connect-game .right > div .startGame.block {
  display: none;
}

#connect-game .right > div .startGame button {
  font-size: 3rem;
}

#connect-game .game-wrapper {
  width: 60%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#game-pieces {
  min-width: 668px;
  min-height: 90px;
  background-color: cadetblue;
  position: absolute;
  top: -90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#game-pieces div {
  width: 77px;
  height: 77px;
  position: relative;
}

#game-pieces div div {
  position: absolute;
}

#game-pieces div .playerOne {
  z-index: 1;
  opacity: 0;
}

#game-pieces div .playerOne:hover {
  opacity: .6;
}

#game-pieces div .playerTwo {
  z-index: 2;
  opacity: 0;
}

#game-pieces div .playerTwo:hover {
  opacity: .6;
}

#game-pieces div span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#game-pieces div span.blue {
  background-color: blue;
}

#game-pieces div span.red {
  background-color: red;
}

#board {
  width: 668px;
  height: 668px;
  background-color: #142738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
}

#board #blocker {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 0;
  background-color: #287CD6;
}

#board .column {
  width: 11.5%;
  height: 96%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#board .column .slots {
  width: 77px;
  height: 77px;
  background-color: #287CD6;
  border-radius: 50%;
}

#board .column .pieces {
  width: 77px;
  height: 77px;
  z-index: 3;
}

#board .column .pieces div {
  position: absolute;
  width: inherit;
  height: inherit;
}

#board .column .pieces .playerOne {
  z-index: 1;
}

#board .column .pieces span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: top .2s linear, opacity .1s linear;
  transition: top .2s linear, opacity .1s linear;
}

#board .column .pieces span.up:hover {
  opacity: .6;
}

#board .column .pieces span.down {
  opacity: 1;
}

#board .column .pieces span.hide {
  visibility: hidden;
}

#board .column .pieces span.blue {
  background-color: blue;
}

#board .column .pieces span.red {
  background-color: red;
}
/*# sourceMappingURL=main.css.map */