html,body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

@import './mixins';

main {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}









/*******************/
/****PLAYER INFO****/
/*******************/



#player-info {
    width: 100%;
    height: 23%;
    background-color: darkkhaki;
    @include flexBox(row);
    @include align(space-between, center);

    .player {
        width: 20%;
        height: 100%;
        background-color: darkorchid;
        @include flexBox(column);

        div {
            width: 85%;
            height: 50%;
            background-color: deeppink;
            margin-bottom: 20px;
            @include flexBox(row);
            @include align(center, center);

            h2 {
                margin: 0;
                font-size: 2.5em;
                text-transform: uppercase;
                text-align: center;
            }
        }

        span {
            display: block;
            width: 18%;
            height: 13%;
            background-color: gold;
            @include flexBox(row);
            @include align(center, center);
        }
    }

    .player1 {
        @include align(center, flex-start);

        div, span {
            border-radius: 0 10px 10px 0;
        }
    }

    .player2 {
        @include align(center, flex-end);

        div, span {
            border-radius: 10px 0 0 10px;
        }
    }

    .banner {
        width: 45%;
        height: 100%;
    }
}









/**********************/
/****GAME INTERFACE****/
/**********************/

#connect-game {
    width: 100%;
    height: 77%;
    background-color: indianred;
    @include flexBox(row);
    @include align(space-between, flex-start);
    position: relative;

    .left, .right {
        width: 20%;
        height: 100%;
        background-color: brown;
    }

    .game-wrapper {
        width: 60%;
        height: 100%;
        background-color: burlywood;
        @include flexBox(row);
        @include align(center, flex-start);
    }
}




#game-pieces {
    width: 668px;
    height: 90px;
    background-color: cadetblue;
    position: absolute;
    top: -90px;
    @include flexBox(row);
    @include align(space-evenly, center);

    div {
        width: 77px;
        height: 77px;
        position: relative;

        div {
            position: absolute;
        }

        .playerOne {
            z-index: 1;
            opacity: 0;

            &:hover {
                opacity: .6;
            }
        }

        .playerTwo {
            z-index: 2;
            opacity: 0;

            &:hover {
                opacity: .6;
            }
        }
        
        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;

            &.blue {
                background-color: blue;
            }

            &.red {
                background-color: red;
            }
        }
    }
}





#board {
    width: 668px;
    height: 688px;
    background-color: chartreuse;
    @include flexBox(row);
    @include align(space-evenly, center);
    position: absolute;
    bottom: 0;

    #blocker {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100px;
        z-index: 0;
        background-color: rebeccapurple;
    }

    .column {
        width: 11.5%;
        height: 96%;
        // background-color: darkgoldenrod;
        @include flexBox(column);
        @include align(space-between, flex-start);
        z-index: 3;

        .slots {
            width: 77px;
            height: 77px;
            background-color: darkmagenta;
            border-radius: 50%;
        }

        .pieces {
            width: 77px;
            height: 77px;

            div {
                position: absolute;
                width: inherit;
                height: inherit;
            }
    
            .playerOne {
                z-index: 1;
                opacity: 0;
    
                &:hover {
                    opacity: .6;
                }
            }
    
            .playerTwo {
                z-index: 2;
                opacity: 0;
    
                &:hover {
                    opacity: .6;
                }
            }
            
            span {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
    
                &.blue {
                    background-color: blue;
                }
    
                &.red {
                    background-color: red;
                }
            }
        }
    }
}